/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

//at desktop size, we want two fewer vertical images and one more horizontal image
.home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(5),
.home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(4) {
	display: none;
	visibility: hidden;
}

.home .su-custom-gallery:nth-child(2) > .su-custom-gallery-slide:nth-child(4) {
	display: inline-block;
	visibility: visible;
}


.wrap {
	width: 1040px;
}
