/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

//at desktop size, we want two fewer vertical images and one more horizontal image
#home-sb .su-custom-gallery  .su-custom-gallery-slide {
	&:nth-child(4), &:nth-child(5) {
		display: none;
	}
}

// #home-sb .su-custom-gallery {
// 	> .su-custom-gallery-slide {
// 		&:nth-child(4) {
// 			display: none;
// 			visibility: hidden;
// 		}
// 	}
// }

.wrap {
	width: 1020px;
}
