//******************************************************************
// Site Name: Beekman Theme
// Author: Ben Beekman

// Stylesheet: Super Large Monitor Stylesheet

// You can add some advanced styles here if you like. This kicks in
// on larger screens.
//******************************************************************/
//
#slidecaption {
		width: 100%;
		font-size: 2.5rem;
}
@media only screen and (max-height: 480px){
	#controls-wrapper { //caption jumps to  the bottom for short screens
		top: auto;
		bottom: 8rem; //wide, short screens have larger captions, so need more distance from the bottom

	#slidecaption {
		font-size: 2.5rem;
	}
	}
}
@media only screen and  (min-height: 480px) and (max-height: 600px){
	#slidecaption {
		font-size: 2.5rem;
		top: 0;
	}
}

p {
	font-size: 1.14285714286em; //16px
}

//at this size we can fit one more horizontal image
// #home-after-sb .su-custom-gallery:nth-child(2) > .su-custom-gallery-slide:nth-child(3),
// #home-after-sb .su-custom-gallery:nth-child(2) > .su-custom-gallery-slide:nth-child(5) {
// 	display: inline-block;
// 	visibility: visible;
// }

// //hide two more vertical images
// .home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(1),
// .home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(5) {
// 	display: none;
// 	visibility: hidden;
// }

.web {

	.wrap {
		width: 99%;
	}

	.d-2of7 {
				// width: 300px;
	}

	.d-5of7 {
		// padding-right: 0.75em;
		// width: 76.329%;
	}
}
