//******************************************************************
// Site Name: Beekman Theme
// Author: Ben Beekman

// Stylesheet: Super Large Monitor Stylesheet

// You can add some advanced styles here if you like. This kicks in
// on larger screens.
//******************************************************************/
p {
		font-size: 1.14285714286em; //16px
}

//at this size we can fit one more horizontal image
// #home-after-sb .su-custom-gallery:nth-child(2) > .su-custom-gallery-slide:nth-child(3),
// #home-after-sb .su-custom-gallery:nth-child(2) > .su-custom-gallery-slide:nth-child(5) {
// 	display: inline-block;
// 	visibility: visible;
// }

// //hide two more vertical images
// .home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(1),
// .home .su-custom-gallery:nth-child(1) > .su-custom-gallery-slide:nth-child(5) {
// 	display: none;
// 	visibility: hidden;
// }

.home {

	.wrap {
		width: 99%;
	}

	#gallery-1 {
		height: auto; //!important;
}

	.d-2of7 {
				// width: 300px;
	}

	.d-5of7 {
		// padding-right: 0.75em;
		// width: 76.329%;
	}
}
