//******************************************************************
// Site Name: Beekman Theme
// Author: Ben Beekman

// Stylesheet: Super Large Monitor Stylesheet

// You can add some advanced styles here if you like. This kicks in
// on larger screens.
//******************************************************************/
#slidecaption {
		width: 70%;
		margin-left: 15%;
		font-size: 2.5rem;
}

@media only screen and (max-height: 480px){
	#controls-wrapper { //caption jumps to  the bottom for short screens
		top:auto;
		bottom: 9.2rem;
	}
}

p {
	font-size: 1.14285714286em; //16px
}

//hide three vertical images on widescreen
#home-sb .su-custom-gallery  .su-custom-gallery-slide {
	&:nth-child(3), &:nth-child(4), &:nth-child(5) {
		display: none;
	}
}

// #home-after-sb .su-custom-gallery:nth-child(1) .su-custom-gallery-slide:nth-child(1),
// #home-after-sb .su-custom-gallery:nth-child(1) .su-custom-gallery-slide:nth-child(2),
// #home-after-sb .su-custom-gallery:nth-child(1) .su-custom-gallery-slide:nth-child(3),
// #home-after-sb .su-custom-gallery:nth-child(1) .su-custom-gallery-slide:nth-child(4) {
// 	display: block;
// 	visibility: visible;
// }

// #home-after-sb .su-custom-gallery:nth-child(1) .su-custom-gallery-slide img {
// 	height: auto;
// 	max-width: 322px;
// }

.wrap {
	max-width: 1520px;
	width: 98%;
}

