/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
p {
	font-size: 1em;
	//14px
}

.slogan {
	font-size: 1.3rem;
	line-height: 1;
	//1.4?
	overflow: visible;
	position: absolute;
	text-align: center;
	top: .5rem;
	width: 98%;
	//to center between logo and nav
}


/*=============================================
=            Supersized slideshow            =
=============================================*/

//supersize slideshow
#slidecaption {
	font-size: 2.5rem;
}

@media only screen and (max-height:480px) {
	#controls-wrapper {
		bottom: 7rem;
		//caption jumps to  the bottom for short screens
		top: auto;
	}

}

@media only screen and (min-height:481px) and (max-height:600px) {
	#controls-wrapper {
		bottom: auto;
		top: 4.4rem;
		//move down just slightly to make room for shifted banner
	}

}

/*=====  End of supersized slideshow  ======*/



//larger title size for larger screens on project detail pages
.page-template-page-single-gallery .page-title {
	font-size: 48px;
}

#home-after-sb .su-custom-gallery {
	display: flex;
	flex-direction: row;
}

.header {
	//height: 5.6rem;
}

/*********************
GENERAL STYLES
*********************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 0;

	&.last-col {
		padding-left: 1rem;
	}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: .75em;
	}

	.widget {
		margin: 0;
		padding: 0;

		ul {
			li {
				margin-bottom: .75em;

				/* deep nesting */
				ul {
					margin-top: .75em;
					padding-left: 1em;
				}

			}

		}

	}

}
