/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

p {
	font-size: 1em; //14px
}



.home .su-custom-gallery:nth-child(1) .su-custom-gallery-slide img { //sidebar images
	height: auto;
	max-width: 400px;
	width: 100%;
}

.home .su-custom-gallery{

	&:nth-child(2) {
		.su-custom-gallery-slide img { //strip of images below content
			height: auto;
			max-width: 300px;
			width: 100%;
		}

		> .su-custom-gallery-slide:nth-child(4) {
			display: none;
			visibility: hidden;
		}
	}
}

.header {
	height: 5.6rem;
}

.slogan { //Front End Engineer
	animation-delay: 5000ms;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-name: slogan_reveal;
	animation-play-state: running;
	animation-timing-function: ease-in;
	color: $benblue;
	display: inline-block;
	float: none;
	font-family: 'Play',sans-serif;
	font-size: 1.7rem;
	font-style: italic;
	font-weight: bold;
	line-height: 1; //1.4?
	margin-left: 16.4rem;
	overflow: visible;
	padding-right: 0;
	padding-top: 1.1rem;
	position: relative;
	text-align: center;
	transition: all ease-in-out 1s;
	width: 69%;
}

.slogan:hover {
	color: $blue-electric;
	text-shadow: 0 0 5px RGBA(186, 253, 49, .7);
	transform: translateY(-10px) scale(1.25, 1.15) rotate(.2deg);
}

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/





/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;

	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			border: 1px solid #ccc;
			border-top: 0;
			margin-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			
			li {
				a {
					border-bottom: 1px solid #ccc;
					border-right: 0;
					display: block;
					padding-left: 10px;
					width: 180px;
				}

				&:last-child {
					a {
						border-bottom: 0;
					}
				}
			/*
			if you need to go deeper, go nuts
			just remember deeper menus suck
			for usability. k, bai.
			*/

			ul {
				left: 100%;
				top: 0;
			}
		}
		/* highlight sub-menu current page */
	}
		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility: visible;
		}
} /* end .menu ul li */
/* highlight current page */
/* end current highlighters */
} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 0;
}

.sidebar.last-col {
	padding-left: 1rem;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: .75em;
}

.widget {
	margin: 0;
	padding: 0;

	ul {
		li {
			margin-bottom: .75em;
			/* deep nesting */
			ul {
				margin-top: .75em;
				padding-left: 1em;
			}
		}
	}
}

