/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

p {
	font-size: 1em; //14px
}

@media only screen and (max-height: 480px){
	#controls-wrapper { //caption jumps to  the bottom for short screens
		top: auto;
		bottom: 7rem;
	}
}

#controls {//top for #slidecaption
	top: 2rem;
}

#slidecaption {
	font-size: 3rem;
	text-align: center;
	// width: 100%;
}

//larger title size for larger screens on project detail pages
.page-template-page-single-gallery .page-title {
	font-size: 48px;
}

#home-after-sb .su-custom-gallery {
	display: flex;
	flex-direction: row;
}

.header {
	//height: 5.6rem;
}

.slogan { //Front End Engineer
	// animation-delay: 5000ms;
	// animation-direction: alternate;
	// animation-iteration-count: 1;
	// animation-name: slogan_reveal;
	// animation-play-state: running;
	// animation-timing-function: ease-in;
	color: $benblue;
	// float: none;
	font-family: 'Play',sans-serif;
	font-size: 1.5rem;
	// font-style: italic;
	font-weight: bold;
	// left: 0;
	// right:0;
	line-height: 1; //1.4?
	// margin-left: 16.4rem;
	overflow: visible;
	// padding-top: 1.6rem;
	text-align: center;
	transition: color ease-in-out 1s;
	width: 104%; //to center between logo and nav
	top: 5px;
	// transition: all ease-in-out 1s;
}

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/





/*********************
NAVIGATION STYLES
*********************/




/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 0;
}

.sidebar.last-col {
	padding-left: 1rem;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: .75em;
}

.widget {
	margin: 0;
	padding: 0;

	ul {
		li {
			margin-bottom: .75em;
			/* deep nesting */
			ul {
				margin-top: .75em;
				padding-left: 1em;
			}
		}
	}
}

