/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Base Mobile Stylesheet

Everything here will be loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet and will be used across all viewports.

******************************************************************/
#bg-pattern {
	cursor: pointer;
}

a.secondary-btn,
.sidebar-mc-form .button2 {
	-moz-border-radius: 6px;
	-moz-box-shadow: inset 0 1px 2px #fff, inset 0 -1px 1px #beb8ac, 0 1px 1px #fff;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px #fff, inset 0 -1px 1px #beb8ac, 0 1px 1px #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #f2ece2), color-stop(1, #e0dacc));
	background: -moz-linear-gradient(center top, rgb(242, 236, 226) 5%, rgb(224, 218, 204) 100%);
	background: -o-linear-gradient(center top, #f2ece2 5%, #e0dacc 100%);
	background-color: rgb(242, 236, 226);
	border: 1px solid rgb(177, 170, 154);
	border-radius: 6px;
	box-shadow: inset 0 1px 2px rgb(255, 255, 255), inset 0 -1px 1px rgb(190, 184, 172), 0 1px 1px rgb(255, 255, 255);
	color: RGB(85, 85, 85);
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#d1d0cf');
	padding: .65625em 1.3125em;
	-o-border-radius: 6px;
	-khtml-border-radius: 6px;
	-ms-box-shadow: inset 0 1px 2px #fff, inset 0 -1px 1px #beb8ac, 0 1px 1px #fff;
	-o-box-shadow: inset 0 1px 2px #fff, inset 0 -1px 1px #beb8ac, 0 1px 1px #fff;
}

/*=============================================
=            Supersized slideshow            =
=============================================*/

#controls-wrapper {
	left: 0;
	top: 5rem;
}

#controls-wrapper,
#controls {
	background: transparent;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

#controls {
	overflow: visible;
	top: 0;
}

#slidecaption {
	cursor: pointer;
	font-size: 1.6rem;
	height: 100px;
	line-height: 1.3;
	overflow: visible;
	text-align: center;
	width: 100%;
}

//adjust location of the caption for fullscreen slideshow on home page.
@media only screen and (max-height:480px) {
	#controls-wrapper {
		//caption jumps to  the bottom for short screens
		bottom: 7rem;
		top: auto;
	}

}

@media only screen and (min-height:501px) and (max-height:660px) {
	#controls-wrapper {
		//caption moves down less for short screens
		top: 5.4rem;
	}

}

@media only screen and (min-height:661px) and (max-height:899px) {
	#controls-wrapper {
		//caption moves down less for short screens
		top: 80px;
	}

}

@media only screen and (min-height:900px) {
	#controls-wrapper {
		//caption moves down more for tall screens as black space above image grows
		top: 120px;
	}

}

#play-button,
#slidecounter,
#slide-list,
.slide-counter,
#tray-button {
	display: none;
	visibility: hidden;
}

/*=====  End of supersized slideshow  ======*/



/* Remove all styling from Galleries. This will allow Masonry to work a bit better. Only available on WP >= 3.9 since it requires HTML5 <figure> */
.gallery {
	margin: 1.5em auto;
}

.gallery-caption {
	background-color: rgba(255, 255, 255, .7);
	bottom: 3px;
	color: darken($white, 50%);
	font-size: .875rem;
	line-height: 125%;
}

.home {
	.supersized-content {
		bottom: 10%;
		color: $black;
		left: auto;
		position: absolute;
		right: auto;
	}

	header.article-header {
		display: none;
		visibility: hidden;
	}

	figcaption {
		display: none;
		visibility: hidden;
	}

	footer {
		display: none;
		visibility: false;
	}

}

.page-template-page-single-gallery .page-title {
	color: $white;
	font-size: 18px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

//display custom galleries as a vertical row on mobile
#home-after-sb .su-custom-gallery {
	display: flex;
	flex-direction: column;

	.su-custom-gallery-slide {
		img {
			height: auto;
			width: 100%;
		}

	}

}

#home-sb .su-custom-gallery {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;

	// > .su-custom-gallery-slide {
		// 	&:nth-child(4) {
			// 		display: none;
			// 		visibility: hidden;
			//
		//}

	.fullwidth {
		height: auto;
		width: 100%;

		attachment-full {
			height: auto;
			text-align: center;
			width: 100%;
		}

	}

	article {
		font-size: .875rem;

		&.post-212 > header {
			display: none;
			visibility: false;
		}

	}

	.su-custom-gallery-slide img {
		height: auto;
		width: 100%;
	}

}

/*********************
GENERAL STYLES
*********************/
.textwidget {
	font-size: 1rem;
}

p {
	font-size: 1rem;
}

nav>.top-nav {
	li {
		a {
			border-radius: .3rem;
			color: $link-color;
			font-size: 1.125rem;
			font-weight: bold;
			padding: .1125rem .5rem;

			&:active,
			&:hover {
				background-color: lighten($black, 5%);
			}

		}

	}

}

body {
	background-color: $black;
	color: $white;
	font-family: $sans-serif;
	font-size: 62.5%;

	-webkit-font-smoothing: antialiased;
	//16/10= 1rem to 10px
	line-height: 1.5;

}

//LAYOUT & GRID STYLES


.wrap {
	margin: 0 auto;
	width: 96%;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
	color: $link-color;

	/* on hover */
	&:hover,
	&:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		// this highlights links on iPhones/iPads: -webkit-tap-highlight-color:rgba(0, 0, 0, .3);
	}

}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-weight: 500;
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}

}

h1,
.h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

.page-title {
	padding: 1rem .5rem 0;
}

h2,
.h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: .375em;
}

h3,
.h3 {
	font-size: 1.125rem;
}

h4,
.h4 {
	font-size: 1.1rem;
	font-weight: 700;
}

h5,
.h5 {
	font-size: .846em;
	letter-spacing: 2px;
	line-height: 2.09em;
	text-transform: uppercase;
}

/*********************
HEADER STYLES
*********************/
header h1 {
	font-family: 'Play', sans-serif;
	line-height: 1em;

	> strong {
		color: $sky-blue;
		display: inline-block;
		font-size: 2rem;
		//"Ben"
		font-style: normal;
		font-weight: bold;
		position: relative;
		text-transform: lowercase;
		transition-duration: 1s;
		transition-property: color;
		transition-timing-function: ease;

		&:hover {
			color: $electric-blue;
		}

	}

	> b {
		//"Beekman"
		color: $lime;
		font-size: 2rem;
		font-weight: 700;
		position: relative;
		transition-duration: .7s;
		transition-property: color;
		transition-timing-function: ease;
		z-index: 10;

		&:hover {
			color: $electric-blue;
		}

	}

}

a {
	color: $white;
	transition-duration: .7s;
	transition-property: color;
	transition-timing-function: ease;

	h1 {
		font-size: 2rem;
		line-height: 1;
		margin: 0;
	}

}

@media only screen and (max-width:660px) and (max-height:900px) {
	#controls-wrapper {
		//move the caption down the page to compensate for mean/menu
		top: 8.4rem;
	}

}

.slogan {
	color: $white-lime;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	line-height: 1rem;
	overflow: visible;
	position: absolute;
	z-index: 5;
}

.header {
	background-color: black(.5);
	display: block;
	padding: 0 0 .5rem;
	position: relative;
}

@media only screen and (min-width:320px) and (max-width:440px) {
	.slogan {
		font-size: .8rem;
		position: relative;
		text-align: center;
	}

	#logo {
		text-align: center;
	}

}

@media only screen and (min-width:440px) and (max-width:472px) {
	.slogan {
		font-size: .8rem;
		position: relative;
		text-align: center;
		top: 1.1em;
	}

	#logo {
		float: left;
	}

}

@media only screen and (min-width:470px) and (max-width:500px) {
	.slogan {
		font-size: .825rem;
		position: relative;
		text-align: center;
		top: .9em;
	}

}

@media screen and (min-width:478px) and (max-width:679px) {
	.split > nav {
		display: none;
		visibility: hidden;
	}

}

/**********************************************************************
Input elements-- forms for contact page
***********************************************************************/
.wpcf7-form-control-wrap input[type='text'] {
	width: 100%;
}

textarea {
	display: inline;
	position: relative;
	width: 100%;
}

.your-message {
	width: 100%;
}

input[type='submit'] {
	background: linear-gradient($white, $frost) repeat scroll 0 0 transparent;
	border-radius: 8px;
	box-shadow: 0 8px 0 $blue-dk, 0 15px 20px rgba(0, 0, 0, .35);
	clear: right;
	color: $bondi;
	display: inline-block;
	float: right;
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	padding: .5em;
	transition: box-shadow .2s ease-in-out 0s;
}

.labels {
	clear: both;
	display: inline;
	float: left;
}

/**********************************************************************
Resume formatting
***********************************************************************/


.resume {
	section>header {
		border-bottom: 1px solid darken($white, 31.25%);
		font-size: 20px;
		font-weight: bold;
	}

	header {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				margin-bottom: 0;
				padding: 0;
			}

		}

	}

	.orgName a:visited {
		color: rgb(55, 232, 253);
		text-decoration: none;
	}

	.hentry  .entry-content section header {
		padding: 1rem 0 .5rem;
	}

}

cite {
	font-style: italic;
}

#container .resume .orgName a,
#container h2 {
	color: darken($white, 9.375%);
}

.resume section header div {
	display: inline;
}

// .page .resume section header {
	// text-align: center;
	// margin-bottom: 0;
	// background: none;
	// display: block;
	// line-height: 1.4em;
	//
//	}

//


.page .resume .vcard h2 {
	line-height: 1;
	margin-top: 0;
	padding-top: 0;
}

.page.resume > h1.page-title {
	display: none;
	visibility: hidden;
}

.hresume header.vcard ul li {
	margin: 0;
	padding: 0;
}

.location {
	float: right;
	position: inline;
}

header nav {
	display: inline-block;
	float: right;

	.nav {
		display: inline-block;
	}

}

/**********************************************************************
End resume formatting
***********************************************************************/

/**************************************************************************************************************** {end} */

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {
		a {
			color: $white;
			display: block;
			padding: .75em;
			text-decoration: none;
		}

		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;
				}

			}

		}

	}

	/* end .nav li */

	/* highlight current page */

	/* end current highlighters */
}

/* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

.hentry {
	background-color: transparent;
	border: 0 solid transparent;
	border-radius: 3px;
	margin-bottom: 1.5em;

	header {
		border-bottom: 0 solid transparent;
		// padding: 1.5em;
	}

	footer {
		border-top: 0 solid $light-gray;
		font-size: 1.125rem;
		padding: 1.5em;

		p {
			margin: 0;
		}

	}

}

/* end .hentry */
.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {
	font-size: 1.25rem;
	padding: 0;

	.resume {
		padding: 0 1%;
		position: relative;
	}

	p {
		font-size: 1.125rem;
		margin: 1.5rem;
	}

	h3 {
		border-bottom: 1px solid $gray;
	}

	table {
		border: 1px solid $gray;
		margin-bottom: 1.5em;
		width: 100%;

		caption {
			color: $meta-gray;
			font-size: .75em;
			letter-spacing: 1px;
			margin: 0 0 7px;
			text-transform: uppercase;
		}

	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}

	}

	td {
		border-right: 1px solid $gray;
		padding: 7px;

		&:last-child {
			border-right: 0;
		}

	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}

	}

	blockquote {
		border-left: 3px solid $blue;
		color: $meta-gray;
		font-style: italic;
		margin: 0 0 1.5em .75em;
		padding: 0 0 0 .75em;
	}

	dd {
		color: $medium-gray;
		font-size: .9em;
		margin-bottom: 1.5em;
		margin-left: 0;
	}

	img {
		margin: 0 0 1.5em;

		&.attachment-full {
			height: auto;
			width: 100%;
		}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail,
		.beekman-square-thumb
		.attachment-full {
			height: auto;
			max-width: 100%;
		}

		pre {
			background: $black;
			border-radius: 3px;
			color: $light-gray;
			font-size: .9em;
			margin: 0 0 1.5em;
			padding: 1.5em;
		}

	}

}

/* end .entry-content */
.aligncenter .attachment-full {
	height: auto;
	max-width: 100%;

	img {
		height: auto;
		max-width: 100%;
	}

}

.supersized-content {
	font-size: 1.25rem;
}

dl.gallery-item {
	margin: 1rem !important;
}

.wp-caption {
	background: $black;
	color: $white;
	font-size: 1.125rem;
	max-width: 100%;
	padding: 5px;

	/* images inside wp-caption */
	img {
		margin-bottom: 0;
		max-width: 100%;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: .85em;
		margin: 4px 0 7px;
		text-align: center;
	}

}

/* end .wp-caption */

/* image gallery styles */
.gallery-item {
	background-color: transparent;
}

.page-template-page-web .gallery-item {
	margin: 0 !important;
}

/* end .gallery */


// the tag output
.tags {
	margin: 0;
}

/* fallback previous & next links */
.wp-prev-next {
	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

}

/* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: $black;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
	padding: 1.5em;
	text-align: center;
}

/*********************
FOOTER STYLES
*********************/
.footer {
	background-color: $black;
	clear: both;
	color: $light-gray;
	font-size: 1rem;
}

.project-title-overlay {
	color: rgb(255, 255, 255);
	font-family: 'Play';
	font-size: 48pt;
	height: 87px;
	left: 236px;
	line-height: .75;
	position: absolute;
	text-align: center;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	top: 91px;
	z-index: 79;
}

.project-title-url {
	font-size: 27pt;
}
