/******************************************************************
Site Name: Beekman Theme
Author: Ben Beekman

Stylesheet: Base Mobile Stylesheet

Everything here will be loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet and will be used across all viewports.

******************************************************************/
.gallery-caption {
	background-color: rgba(255, 255, 255, .7);
	bottom: 3px;
	color: darken($white, 50%);
}

.page-template-page-single-gallery .page-title {
	color: $white;
	font-size: 18px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

#home-after-sb .su-custom-gallery {
	display: flex;
	flex-direction: column;
	
	.su-custom-gallery-slide {
		img {
			height: auto;
			width: 100%;
		}
	}
}


#home-sb .su-custom-gallery {
	display: flex;
	flex-direction: column;
	
	// > .su-custom-gallery-slide {
		// 	&:nth-child(4) {
	// 		display: none;
	// 		visibility: hidden;
	// }

	.fullwidth {
		height: auto;
		width: 100%;
		attachment-full {
			height: auto;
			text-align: center;
			width: 100%;
		}
	}

	article {
		font-size: .875rem;

		&.post-212 > header {
			display: none;
			visibility: false;
		}
	}

	.su-custom-gallery-slide img {
		height: auto;
		width: 100%;
	}
}



/* Remove all styling from Galleries. This will allow Masonry to work a bit better. Only available on WP >= 3.9 since it requires HTML5 <figure> */
.gallery {
	margin: 1.5em auto;
}

.gallery-caption {
	font-size: .875rem;
	line-height: 125%;
}

//images in widget areas are moved around based on dimensions
.home {
	header.article-header {
		display: none;
		visibility: hidden;
	}
	figcaption {
		display: none;
		visibility: hidden;
	}
}




// @import url(http: //fonts.googleapis.com/css?family=Baumans);
// @import url(http: //fonts.googleapis.com/css?family=Playfair+Display: 400, 400italic);
/*********************
GENERAL STYLES
*********************/

.textwidget {font-size: 1rem;}
p {
	font-size: 1rem;
}

#container>nav>.top-nav {
	line-height: 1;
	margin-left: 15rem;
	position: relative;
	right: 1rem;
	top: 1rem;
	z-index: 999999;
	
	li {
		display: inline;
		float: left;
		a {
			border-radius: 1rem;
			color: $link-color;
			font-size: 1.125rem;
			font-weight: bold;
			padding: .015rem .5rem;
			
			&:active,
			&:hover {
				background-color: lighten($black, 5%);
			}
		}
	}
}

body {
	background-color: $black;
	color: $white;
	font-family: $sans-serif;
	font-size: 62.5%; //16/10= 1rem to 10px
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

#logo {
	display: inline-block;
	position: relative;
	
	a {
		color: $white;
		
		h1 {
			font-size: 2rem;
		}
	}
}

#logo a, #logo a:visited {
	color: $white;
	font-family: 'Play', sans-serif;
	font-style: italic;
	font-weight: bold;
	line-height: 1.4rem;
	text-shadow: rgba(0, 0, 0, .4) 8px 8px 0;
}




//LAYOUT & GRID STYLES


.wrap {
	margin: 0 auto;
	width: 96%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	/* on hover */
	&:hover,
	&:focus {
		color: $link-hover;
	}
	/* on click */
	/* mobile tap color */
	&:link {
	// this highlights links on iPhones/iPads.
	// so it basically works like the : hover selector
	// for mobile devices.
	-webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-weight: 500;

	text-rendering: optimizelegibility;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

.page-title {
	padding: 1rem .5rem 0;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: .375em;
}

h3, .h3 {
	font-size: 1.125rem;
}

h4, .h4 {
	font-size: 1.1rem;
	font-weight: 700;
}

h5, .h5 {
	font-size: .846em;
	letter-spacing: 2px;
	line-height: 2.09em;
	text-transform: uppercase;
}

/*********************
HEADER STYLES
*********************/
.slogan {
	clear: both;
	color: rgba(55, 232, 253, 1);
	display: inline-block;
	float: left;
	font-family: 'Play', sans-serif;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: bold;
	//Front End Engineer
	line-height: 1rem;
	overflow: visible;
	padding-left: .7rem;
	padding-right: 5.4rem;
	padding-top: 5.2rem;
	position: absolute;
}

.header {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0dffffff', GradientType=0);
	height: 6.6rem;
}

@keyframes ben_flicker {
	0% {
		color: rgba(0, 0, 0, .7);
		text-shadow: 0 0 2px rgba(214, 255, 255, .1);
		transform: scale(1.5);
	}

	100% {
		color: rgba(55, 232, 253, .75);
		text-shadow: 0 0 7px rgba(214, 255, 255, .9);
		transform: scale(1);
	}

}

@keyframes beekman_fade {
	0% {
		color: rgba(0, 0, 0, .60);
		text-shadow: 0 0 68px rgba(166, 198, 232, 1);
	}

	42% {
		color: rgba(0, 0, 0, .60);
		text-shadow: 0 0 27px rgba(130, 229, 26, 1);
	}

	100% {
		color: rgba(186, 253, 49, .9);
		text-shadow: 0 4px 28px rgba(242, 234, 61, 1);
	}

}



@keyframes slogan_reveal {
	0% {
		color: rgba(0, 0, 0, 0);
	}

	66% {
		color: rgba(0, 0, 0, 0);
	}

	100% {
		color: rgba(221, 221, 221, 1);
	}

}



header h1 {
	font-family: 'Play', sans-serif;
	line-height: 1em;

	> b {
		animation-delay: 0s;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-name: beekman_fade;
		animation-play-state: running;
		animation-timing-function: linear;
		color: rgba(186, 253, 49, 1);
		font-size: 2.9rem;
		left: .6rem; //"Beekman"
		position: absolute;
		text-shadow: 0 0 10px rgba(130, 229, 26, 1);
		top: 2.8rem;
		transform-origin: left;
		transition-duration: .7s;
		transition-property: all;
		transition-timing-function: ease;
		z-index: 10;
	}

	b:hover {
		color: rgba(215, 255, 255, .9);
		transform: scale(1.4);
	}

	> strong {
		animation-delay: 0ms;
		animation-duration: 1500ms;
		animation-iteration-count: 1;
		animation-name: ben_flicker;
		animation-play-state: running;
		animation-timing-function: ease-in;
		color: rgba(55, 232, 253, 1);
		font-size: 2rem; //"Ben"
		font-style: normal;
		font-weight: bold;
		left: 2.3rem;
		position: absolute;
		text-shadow: 0 0 7px rgba(215, 255, 255, .9);
		text-transform: lowercase;
		top: .75rem;
		transform-origin: left;
		transition-duration: .5s;
		transition-property: all;
		transition-timing-function: ease;
		z-index: 99;
	}

	> strong:hover {
		color: rgba(0, 0, 0, .7);
		transform: scale(1.2);
	}
}



//main menu
#container > nav:nth-child(1) {
	float: right;
}


/**********************************************************************
Input elements-- forms for contact page
***********************************************************************/

.wpcf7-form-control-wrap input[type='text'] {
	width: 100%;
}

textarea {
	display: inline;
	position: relative;
	width: 100%;
}

.your-message {
	width: 100%;
}

input[type='submit'] {
	background: linear-gradient($white, $frost) repeat scroll 0 0 transparent;
	border-radius: 8px;
	box-shadow: 0 8px 0 $blue-dk, 0 15px 20px rgba(0, 0, 0, .35);
	clear: right;
	color: $bondi;
	display: inline-block;
	float: right;
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	padding: .5em;
	transition: box-shadow .2s ease-in-out 0s;
}

.labels {
	clear: both;
	display: inline;
	float: left;
}

/**********************************************************************
Resume formatting
***********************************************************************/
.entry-content h3 {
	border-bottom: 1px solid $gray;
}

.resume {
	section>header {
		border-bottom: 1px solid darken($white, 31.25%);
		font-size: 20px;
		font-weight: bold;
	}

	header {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				margin-bottom: 0;
				padding: 0;
			}
		}
	}

	.orgName a:visited {
		color: rgb(55, 232, 253);
		text-decoration: none;
	}

	.hentry  .entry-content section header {
		padding: 1rem 0 .5rem;
	}
}

cite {
	font-style: italic;
}

#container .resume .orgName a,
#container h2 {
	color: darken($white, 9.375%);
}

.resume section header div {
	display: inline;
}
// .page .resume section header {
// text-align: center;
// margin-bottom: 0;
// background: none;
// display: block;
// line-height: 1.4em;
// }
//


.page .resume .vcard h2 {
	line-height: 1;
	margin-top: 0;
	padding-top: 0;
}

.page.resume > h1.page-title {
	display: none;
	visibility: hidden;
}

.hresume header.vcard ul li {
	margin: 0;
	padding: 0;
}

.entry-content .resume {
	padding: 0 1%;
	position: relative;
}



.location {
	float: right;
	position: inline;
}

/* ! Bigger banner for non-mobile/tablet devices */
@media screen and (min-width: 720px) {
	#blog-description {
		font-size: 1.8em;
		margin-left: 18rem;
		margin-right: 4rem;
	}

	header nav {
		display: inline-block;
		float: right;
		.nav {
			display: inline-block;
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 719px) {
	#blog-description {
		font-size: 1.3rem;
		margin-left: 16rem;
		margin-right: 2rem;
	}
}

@media screen and (max-width: 480px) {
	#blog-description {
		display: none;
		visibility: hidden;
	}
}


/**********************************************************************
End resume formatting
***********************************************************************/



/**************************************************************************************************************** {end} */


/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;
	
	li {
		a {
			color: $white;
			display: block;
			padding: .75em;
			text-decoration: none;
		}
		
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;
				}
			}
		}
} /* end .nav li */
/* highlight current page */
/* end current highlighters */
} /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

.hentry {
	background-color: transparent;
	border: 0 solid transparent;
	border-radius: 3px;
	margin-bottom: 1.5em;
	header {
		border-bottom: 0 solid transparent;
// padding: 1.5em;
}
footer {
	border-top: 0 solid $light-gray;
	padding: 1.5em;
	p {
		margin: 0;
	}
}
} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {
	padding: 0;
	
	p {
		margin: 1.5rem;
		font-size: 1.125rem;
	}
	
	table {
		border: 1px solid $gray;
		margin-bottom: 1.5em;
		width: 100%;

		caption {
			color: $meta-gray;
			font-size: .75em;
			letter-spacing: 1px;
			margin: 0 0 7px;
			text-transform: uppercase;
		}
	}
	
	tr {
		border-bottom: 1px solid $gray;
		
		&:nth-child(even) {
			background-color: $light-gray;
		}
	}
	
	td {
		border-right: 1px solid $gray;
		padding: 7px;
		
		&:last-child {
			border-right: 0;
		}
	}
	
	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: 0;
		}
	}
	blockquote {
		border-left: 3px solid $blue;
		color: $meta-gray;
		font-style: italic;
		margin: 0 0 1.5em .75em;
		padding: 0 0 0 .75em;
	}
	
	dd {
		color: #787878;
		font-size: .9em;
		margin-bottom: 1.5em;
		margin-left: 0;
	}
	
	img {
		margin: 0 0 1.5em;
		&.attachment-full {
			height: auto;
			width: 100%;
		}
		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail,
		.beekman-square-thumb
		.attachment-full {
			height: auto;
			max-width: 100%;
		}
		pre {
			background: $black;
			border-radius: 3px;
			color: $light-gray;
			font-size: .9em;
			margin: 0 0 1.5em;
			padding: 1.5em;
		}
	}
} /* end .entry-content */

.aligncenter .attachment-full {
	height: auto;
	max-width: 100%;

	img {
		height: auto;
		max-width: 100%;
	}
}

dl.gallery-item {
	margin: 1rem !important;
}

.wp-caption {
	background: $black;
	color: $white;
	max-width: 100%;
	padding: 5px;
/* images inside wp-caption */

img {
	margin-bottom: 0;
	max-width: 100%;
	width: 100%;
}

p.wp-caption-text {
	font-size: .85em;
	margin: 4px 0 7px;
	text-align: center;
}
} /* end .wp-caption */

/* image gallery styles */
.gallery-item {
	background-color: transparent;
}

.page-template-page-web .gallery-item {
	margin: 0 !important;
}

/* end .gallery */


// the tag output
.tags {
	margin: 0;
}

/* fallback previous & next links */
.wp-prev-next {
	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
} /* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: $black;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
	padding: 1.5em;
	text-align: center;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	background-color: $black;
	clear: both;
	color: $light-gray;
}


.project-title-overlay {
	color: rgb(255, 255, 255);
	font-family: 'Play';
	font-size: 48pt;
	height: 87px;
	left: 236px;
	line-height: .75;
	position: absolute;
	text-align: center;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	top: 91px;
	z-index: 79;
}

.project-title-url {
	font-size: 27pt;
}
